#gameBoard {
    width:220px;
    height:220px;
    border: 1px solid brown;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.gameBoard div {
    border: 1px solid brown;
    width:20px;
    height:20px;
}