body {
    font-family: 'Courier New', Courier, monospace;
}

.gameInfo {
    margin: 0 auto;
    width: 100%;
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:0;
}

h2, h4, p{
    margin: 0;
    padding: 10px;
}
h4 {
    text-decoration-line: underline;
}

button {
    font-family: 'Courier New', Courier, monospace;
}
#scoreTimeContainer {
    display: flex;
    flex-direction: row;
    width: 320px;
    margin: 0 auto;
    align-items: space-evenly;
    padding:15px;
}

#timeDisplay {
    width:100%;
    text-align: center;
}
#scoreDisplay {
    width: 100%;
    text-align: center;
}
#gameBoard {
    width:320px;
    height:320px;
    border: 1px solid #d4d4d4;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    cursor: grab;

}

.gameBoard div {
    border: 1px solid  #d4d4d4;
    width:30px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}